<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyuan.dao.PersonDao">
    <resultMap id="BaseResultMap" type="com.youyuan.domain.Person">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO person (name) VALUE (#{name});
    </insert>

</mapper>